*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*

colores

D9D9D9 = pie de pagina

tipografia: font-family: 'Golos Text', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;


@media(max-width:1024px){

@media (max-width:768px) {

@media (max-width:425px) {

@media (max-width:375px) {



**/

/***************header********************/

header{
    background-color: none;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;

}

.navbar{
    list-style: none;
    display: flex;
    margin-top: 14px;
    padding: 20px;

}

.navbar li {
    margin-right: 20px;
}

.navbar li a{
    text-decoration: none;
    color: black;
}

.navbar li:nth-child(4) a {
    background-color: rgb(165, 164, 164);
    padding: 5px 9px;
    border-radius: 4px;
}

.logo {
    margin: 8px;
    margin-left: 40px;
}

.btn_menu{
    margin-right: 30px;
    display: none;
}

ul.show{
    top: 65px;
}

@media (max-width:425px) {
    .navbar {
        height: 65px;
}
    .boton-menu{
        display: inline-flex;
        margin-top: 10px;
    }
    .navbar{
        position: fixed;
        width: 100vw;
        height: calc(100% -65px);
        background: gray;
        top: -100vh;
        text-align: center;
    }
}

@media (max-width:375px) {
    .navbar {
        height: 65px;
}
    .btn_menu{
        display: inline-flex;
        margin-top: 10px;
    }
    .navbar{
        position: fixed;
        width: 100vw;
        height: calc(100% -65px);
        background: gray;
        top: -100vh;
        text-align: center;
    }
}

/********** index ***********/

.titulo-index {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.title-destino {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige;
    margin: 50px auto;
    padding: 20px 50px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 4px;
}

.title-destino a {
    color: inherit;
    text-decoration: none;
    font-weight: lighter;
}

.imagenes-index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 1024px;
    width: 100%;
}

.imagenes-index img {
    height: 350px;
    width: 100%;
    max-height: 400px;
    margin: 0 5px;
    object-fit: cover;
}

.frase-lisboa h2 {
    text-align: center;
    font-style: italic;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    font-weight: lighter;
    margin-bottom: 320px;
}

@media (max-width: 1024px) {
    .imagenes-index img {
        height: 355px;
    }
}

@media (max-width: 425px) {
    .imagenes-index {
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    overflow: hidden;
    margin: 0 10px 5px 10px;
    }
}

    .imagenes-index img {
    height:fit-content;
    width: 100%;
    max-height: 70px;
    margin: 0 10px 5px 10px;
    }

@media (max-width: 325px) {
    .title-destino a {
    background-color: beige;
    padding-left: 50px;
    padding-right: 100px;
    max-width: calc(20% - 20px)
}
}

/*********footer****************/


footer{
    background-color: gray;
    font-size: 12px;
    display: flex;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    justify-content: space-between;
    list-style: none;
    display: flex;
    text-decoration: none;

}

.footer-izquierda{
    text-decoration: none;
}

.footer-izquierda a {
    text-decoration: none;
    color: inherit;

}


/*********pagina lisboa ************/

/* .destino-lisboa{
    display: grid;
    margin-top: 40px;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    grid-template-areas:

        "foto-lisboa texto-lisboa"
}

.foto-lisboa{
    display: flex;
    margin-left: 40px;
}

.titulo-lisboa {
    display: flex;
    grid-area: titulo-lisboa;
    text-align: center;
    background-color: aqua;
}

.texto-lisboa{
    grid-area: texto-lisboa;
}

.texto-lisboa h2{
    display: flex;
    background-color: gray;
    margin-left: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: lighter;

}

.texto-lisboa p{
    display: flex;
    margin-left: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 5px;
} */



/**************alojamiento**************/

.articulo-principal{
    width: 100%;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    grid-template-areas:

    "imagen-alojamiento . texto-alojamiento texto-alojamiento ."

    ;

}

.imagen-alojamiento{
    grid-area: imagen-alojamiento;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
}

.texto-alojamiento{
    margin-top: 80px;
    grid-area: texto-alojamiento;
    text-align: center;
}

.texto-alojamiento h2{
    border-bottom: 0.5px solid black;
    font-weight: lighter;
    font-size: 23px;

}

.texto-alojamiento p{
    margin-top: 90px;
}

.imagenes-alojamiento{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding: 20px;
    align-items: flex-end;
    flex-wrap: nowrap;

}

.imagenes-alojamiento h2 {

    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

.texto-imagen {
    color: black;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
}

/******************destinos***************/

.titulo-destinos{
    padding: 20px;
}

.destinos-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 100%;
    grid-template-areas:
    "imagenes destinos-amnorte destinos-europa"
    "imagenes destinos-asia destinos-latam"

}

.destinos-grid img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    grid-area: imagenes;
}

.destinos-grid h2 {
    text-align: center;
    margin-top: 3px;
    margin-bottom: 4px;
}

.destinos-europa,
.destinos-latam,
.destinos-asia,
.destinos-amnorte {
    padding: 20px;
    border: 0.5px solid black;
}

.destinos-amnorte{
    grid-area: destinos-amnorte;
}

.destinos-europa{
    grid-area: destinos-europa;
}

.destinos-asia{
    grid-area: destinos-asia;
}

.destinos-latam{
    grid-area: destinos-latam;
}
.destinos-asia ul{
    list-style: none;
    margin: 3px;
    text-align: center;
}

.destinos-europa ul{
    list-style: none;
    text-align: center;

}

.destinos-latam ul{
    list-style: none;
    text-align: center;

}

.destinos-amnorte ul{
    list-style: none;
    text-align: center;

}


/**********consultas***********/

.formulario{
    margin-bottom: 5rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

form {
    background-color: rgb(157, 154, 149);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Golos Text', sans-serif;
    margin: 60px;

}

.titulo-formulario{
    padding: 20px;
    font-size: 25px;

}

label {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

textarea {
    width: 95%;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 1000px;
}

/***********aerolineas****************/

.aerolineas-grid{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas:

    "texto-aerolinea1 texto-aerolinea1 texto-aerolinea1 imagen-aerolinea1 imagen-aerolinea2"
    "texto-aerolinea1 texto-aerolinea1 texto-aerolinea1 imagen-aerolinea1 imagen-aerolinea2"
    "texto-aerolinea2 texto-aerolinea2 texto-aerolinea2 imagen-aerolinea3 imagen-aerolinea2"
    "texto-aerolinea2 texto-aerolinea2 texto-aerolinea2 imagen-aerolinea3 imagen-aerolinea2"
    "texto-aerolinea3 texto-aerolinea3 texto-aerolinea3 imagen-aerolinea3 imagen-aerolinea4"
    "texto-aerolinea3 texto-aerolinea3 texto-aerolinea3 imagen-aerolinea3 imagen-aerolinea4"

    ;

}

.texto-aerolinea1{
    grid-area: texto-aerolinea1;

}

.texto-aerolinea2{
    grid-area: texto-aerolinea2;

}

.texto-aerolinea3{
    grid-area: texto-aerolinea3;

}

.texto-aerolinea1, .texto-aerolinea2, .texto-aerolinea3{
    margin-left: 20px;
    margin-right: 10px;

}

.texto-aerolinea1 h2, .texto-aerolinea2 h2, .texto-aerolinea3 h2{
    margin-bottom: 20px;
    background-color: gray;
    padding: 7px;
    border-radius: 3px;

}

.imagen-aerolineas{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

.imagen-aerolinea1{
    grid-area: imagen-aerolinea1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.imagen-aerolinea2{
    grid-area: imagen-aerolinea2;
    grid-row-start: 1;
    grid-row-end: 6;
}


.imagen-aerolinea3{
    grid-area: imagen-aerolinea3;
    grid-row-start: 3;
    grid-row-end: 8;
}

.imagen-aerolinea4{
    grid-area: imagen-aerolinea4;
    grid-row-start: 6;
    grid-row-end: 8;
}

@media (max-width:768px) {
    .titulo-aerolineas{
        font-size: 15px;
    }
    .texto-aerolinea1 {
        grid-area: texto-aerolinea1;
        font-size: 12px;
        }

    .texto-aerolinea2 {
        grid-area: texto-aerolinea2;
        font-size: 12px;
        }

    .texto-aerolinea3 {
        grid-area: texto-aerolinea3;
        font-size: 12px;
        }

    .texto-aerolinea4 {
        grid-area: texto-aerolinea4;
        font-size: 12px;
        }
    }


@media (max-width: 425px) {
    .titulo-aerolineas{
        padding: 5px;
        font-size: 10px;
    }
    .aerolineas-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "texto-aerolinea1 imagen-aerolinea1"
    "texto-aerolinea2 imagen-aerolinea2"
    "texto-aerolinea3 imagen-aerolinea3"
    "texto-aerolinea4 imagen-aerolinea4";
    }

.texto-aerolinea1 {
    grid-area: texto-aerolinea1;
    font-size: 10px;
    }

    .texto-aerolinea2 {
    grid-area: texto-aerolinea2;
    font-size: 10px;
    }

    .texto-aerolinea3 {
    grid-area: texto-aerolinea3;
    font-size: 10px;
    }

    .texto-aerolinea4 {
    grid-area: texto-aerolinea4;
    font-size: 10px;
    }

.imagen-aerolinea1 {
    grid-area: imagen-aerolinea1;
    width: 100%;
    height: auto;
    margin: 10px 0;
    }

.imagen-aerolinea2 {
    grid-area: imagen-aerolinea2;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.imagen-aerolinea3 {
    grid-area: imagen-aerolinea3;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.imagen-aerolinea4 {
    grid-area: imagen-aerolinea4;
    width: 100%;
    height: auto;
    margin: 10px 0;
    }
}

@media (max-width: 375px) {
    .titulo-aerolineas{
        font-size: 10px;
    }

    .texto-aerolinea1,
    .texto-aerolinea2,
    .texto-aerolinea3,
    .texto-aerolinea4 {
    font-size: 10px;
}
    .imagen-aerolinea1,
    .imagen-aerolinea2,
    .imagen-aerolinea3,
    .imagen-aerolinea4 {
    width: 100%;
    height: auto;
    margin: 10px 0;
    }
}


/***********galeria de imagenes************/

.titulo-galeria{
    text-align: center;
    margin: 40px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid black;

}

.galeria-imagenes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.imagen-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imagen-galeria1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.imagen-galeria3{
    grid-row-start: 2;
    grid-row-end: 4;
}

.imagen-galeria5{
    grid-row-start: 4;
    grid-row-end: 7;
}

@media(max-width:1024px){
    .titulo-galeria{
        color: gray;
    }
}

@media (max-width:768px) {
    .titulo-galeria{
        color: gray;
        font-size: 15px;
    }
    .galeria-imagenes {
        grid-template-columns: repeat(4, 1fr);
    }
    .imagen-galeria1{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .imagen-galeria7{
        grid-column-start: 3;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 7;
    }
    .imagen-galeria3{
        grid-column-start: 3;
        grid-column-end: 7;
    }
    .imagen-galeria5{
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media (max-width:425px) {
    .galeria-imagenes {
        grid-template-columns: repeat(3, 1fr);
    }
    .imagen-galeria1{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .imagen-galeria2{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .imagen-galeria3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .imagen-galeria4{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .imagen-galeria5{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .imagen-galeria6{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 6;
    }
    .imagen-galeria7{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 8;
    }

}
